<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sadfeelings :: index</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Exo" rel="stylesheet">
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <section class="content">
      <picture class="avatar">
        <img class="shadow" width="125" src="{{avatar_url}}" alt="github avatar" />
      </picture>
      <h1>Hi, Traveller</h1>
      <p>I am Stefan Yohansson a.k.a snotr, developer, husband, father and open source passionate.</p>
      <div class="github">
        <i class="fa fa-github github-logo"></i>
        <div class="github-content">
          <a href="{{url}}" target="_blank"><h3>@StefanYohansson</h3></a>
          {{email}}
        </div>
      </div>
      <div class="rss">
        <i class="fa fa-rss rss-logo"></i>
        <div class="github-content">
          <a href="http://snotr.sadfeelings.me{{latest_link}}" target="_blank"><h3>{{latest_title}}</h3></a>
          &nbsp;
        </div>
      </div>
    </section>
    <aside>
    </aside>
    <footer>
      Made with sz by me 
    </footer>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
